# Diretório de compilação do Cargo
/target/

# Arquivos gerados pelo Cargo
**/Cargo.lock

# Binários e bibliotecas compiladas
*.rlib

# Arquivos do editor/IDE
.idea/
.vscode/
*.iml

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Registros de depuração e saída do compilador
debug.log
*.log

# Dumps de memória
*.dmp

# Arquivos temporários e caches
*.swp
*.swo
*.bak

# Configurações locais do Cargo
/.cargo/

# Testes de benchmark do Criterion (caso use)
/target/criterion/

# Arquivos gerados por ferramentas como Rust Analyzer
/.rust-analyzer.json

# Dependências baixadas por `cargo vendor`
/vendor/
